html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

svg text {
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
