<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Play</title>

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="/assets/css/index.css" />
        <link rel="stylesheet" href="/assets/css/play.css" />
        <script src="/assets/js/play/index.js"></script>
    </head>
    <body>
        <input type="hidden" id="user" value="<%= user %>" />
        <a class="card" href="/play/games/classic/" style="font-size: 20pt"><img src="/assets/other/classicImage.png" style="width: 80%" /><br />Classic</a>
    </body>
</html>
