<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Play</title>

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/assets/css/play.css" />
        <script src="/assets/js/play/index.js"></script>
        <script src="/assets/js/play/scene/scene1.js"></script>
    </head>
    <body>
        <input type="hidden" id="user" value="<%= user %>" />
        <svg id="main_svg" xmlns="http://www.w3.org/2000/svg"></svg>
    </body>
</html>
